<footer>
    <div class="footer-main">
        <div class="footer-item">
            <div class="footer-logo">
                 <a class="logo" href=""><i class="fa fa-university"></i></a>
            </div>
            
            <ul class="social-link">
                <li><a href="mailto: egnabegnaw5@gmail.com"><i class="fa fa-envelope"></i></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-telegram"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="">Blog </a></li>
                <li><a href="">FAQs </a></li>
                <li><a href="">News </a></li>
                <li><a href="">Lorem </a></li>
                <li><a href="">Lorem </a></li>
                <li><a href="">Lorem </a></li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>Contacts</h3>
            <ul>
                <li><a href="mailto: egnabegnaw5@gmail.com"> Email</li>
                <li><a href=""></a>Twitter</li>
                <li><a href=""></a>Instagram</li>
                <li><a href=""></a>Facebook</li>
                <li><a href=""></a>Telegram</li>
                <li><a href=""></a>Linkedin</li>
            </ul>
        </div>
        <div class="footer-item">
            <h3>University</h3>
            <ul>
                <li><a href="">Egna-Begna Main  </a></li>
                <li><a href="">Egna-Begna Campas 2 </a></li>
                <li><a href="">Egna-Begna Campas 3 </a></li>
                <li><a href="">Beyya university </a></li>
                <li><a href="">Marwadi-University </a></li>
                <li><a href="">Hola University</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>©copyright 2021</p>
    </div>
</footer>